

/*.filter-main fieldset {*/
  /*border: none;*/
  /*text-transform: uppercase;*/
/*}*/

/*.filter-main legend {*/
  /*font-weight: bold;*/
  /*text-transform: uppercase;*/
/*}*/

/*.breadcrumbs,*/
/*ul.pagination-list,*/
/*ul.catalog-list,*/
/*.filter-producer ul,*/
/*.power ul{*/
  /*list-style: none;*/
  /*text-transform: uppercase;*/
  /*padding: 0;*/
  /*margin: 0;*/
/*}*/
/*.filters-left-column{*/
  /*width: 220px;*/
/*}*/


/*fieldset.filter-producer,*/
/*fieldset.power,*/
/*fieldset.filter-price{*/
  /*padding: 0;*/
  /*margin: 0;*/
/*}*/

div,
section,
a,
ul,
li,
p,
footer,
header {
  outline: 1px solid red;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



.filter-item {
  margin: 0;
  padding: 0;

  border: none;

  /* Для демонстрации */
  width: 260px;
  margin: 50px auto;
}

.range-filter {
  width: 220px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 114px;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 114px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 45%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 50px;
  padding: 10px 25px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;

  text-align: center;
  color: #283136;

  border: none;
  border-radius: 3px;
  background: #f1f1f1;
}
.price-controls div{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  width: 10px;
  display: inline-block;
  padding: 0 6px;
}

.max-price {
  text-align: right;
}
