@font-face {
  font-family: 'Pt Sans';
  src: url('.../fonts/ptsans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
    font-family: 'Pt Sans';
    src: url('.../fonts/ptsansbold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;

}
@font-face {
  font-family: 'Cuprum';
  src: url('.../fonts/cuprum.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'Cuprum';
  src: url('.../fonts/cuprumbold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  }

@font-face {
  font-family: 'Cuprum'; 
  src: url('.../fonts/cuprumbolditalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  }    

@font-face {
font-family: 'Cuprum';
src: url('.../fonts/cuprumitalic.woff2') format('woff2');
font-weight: normal;
font-style: italic;
}
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}

.main-header{
  font-family: "Cuprum", "Arial", sans-serif;
	background-color: #f4f7f9;
	color: #ffffff;
}
.main-header a{
	color: #ffffff;
}
.logo {
	font-size: 24px;
	background-color: #ee3643;
	text-transform: uppercase;
	font-family: "Cuprum", "Arial", sans-serif;
	color: #ffffff;
	border-bottom: 5px;
	border-color: #b52933;
	width: 220px;
	height: 42px;
}

p.header-slogan{
	color: #ee3643;
	font-style: italic;	
	font-size: 16px;
	line-height: 23px;
}


p.header-adress {
	color: #32425c;
	font-size: 14px;
	line-height: 24px;
	
}
a.header-adress,
a.header-contacts{
	color: #ee3643;
}
a.header-contacts {
	color: #ee3643;
	font-size: 21px;
}
.user-navigation a{
color: #000000;
}
.popular-products ul{
	list-style: none;
}

ul.servis {
		list-style: none;
}

ul.about-company {
	list-style: none;
}

.top {
	background-color: #293449;
	font-size: 17px;
}

.header-navigation {
	background-color: #293449;
	color:#ffffff;
	font-size: 17px;
}
.site-navigation {
		list-style: none;
}

.footer-bottom {
	background-color: #293449;
	color: #ffffff;
}

.footer-top {
	background-color: #32425c;
	color: #ffffff;
}


.product-category {
	background-color: #ffffff;
	color: #ffffff;
	font-family: "Cuprum", "Arial", sans-serif;
}
.product-category a{
	color: #ffffff;
}

.product-category-materials {
	background-color: #ffbf47;
}

.product-category-tools {
	background-color: #3bbce3;
}

.product-category-technics {
	background-color: #dc91d8;
}

.product-category-sales {
	background-color: #8ed78f;
}

.product-category-delivery {
	background-color: #ffc047;
}

.header-popular {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 40px;
	background-color: #f9f5f0;
	color: #32425c;
	text-transform: uppercase;
}
.header-popular a{
	color: #ffffff;
}
.popular-perforator a{
	color: #000000;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
}
span.old-price {
	color: #aaaaaa;
	text-decoration: line-through;
	font-size: 17px;
	font-weight: bold;
}
span.new-price {
	font-size: 17px;
	font-weight: bold;
	color: #ffffff;
	background-color: #ee3643;
}
.services {
	background-color: #f4f8fa;
}
.services h3{
	color: #000000;
	font-size: 36px;
	font-family: "Cuprum", "Arial", sans-serif;
}
.delivery h3,
.warranty h3,
.credit h3{
	color: #32425c;
	font-size: 36px;
	font-family: "Cuprum", "Arial", sans-serif;
}
.services p{
	font-size: 13px;
	line-height: 24px;
}
.servis li{
	background-color: #32425c;
}
.servis li:hover{
	background-color: #293449;
}
.servis li:active{
	background-color: #ffffff;
}
.servis a{
	color: #ffffff;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 21px;
}
.servis a:hover{
	color: #ffffff;
}
.service a:active{
	color: #32425c;
}
.information h3,
.contacts h3{
	font-size: 30px;
	font-family: "Cuprum", "Arial", sans-serif;
}
.about-company a{
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	color: #000000;
}
.information h3,
.contacts h3 {
		text-transform: uppercase;
	  font-family: "Cuprum", "Arial", sans-serif;
}

.footer-logo {
	text-transform: uppercase;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 24px;
	background-color: #ee3643;
	font-weight: 100;
}
p .footer-contacts{
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
}
.footer-colomn-right a{
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;	
}
.footer-navigation-site a{
 color: #ffffff;
}
.footer-navigation-site a:hover{
 text-decoration: underline;
}
.footer-navigation-categories a{
	color: #ffd180;
}
.footer-navigation-categories a:hover{
	text-decoration: underline;
}
ul.footer-navigation-site,
ul.footer-navigation-categories{
	list-style: none;
}
ul.social{
	list-style: none;
}
.footer-bottom{
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 16px;		
}
.social a{
	color: #ffffff;
}
.feedback a{
	color: #ffd180;
}
.feedback a:hover{
	text-decoration: underline;
}
.feedback a:active{
	color: #ee3643;
	text-decoration: none;	
}
.write-us label{
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;		
}




.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  a.arrow {
    display: inline-block;
    margin: 0 10px;
    font-size: 0;
}

.arrow::before {
    content: "";
    display: inline-block;
    border: 20px solid #ee3643;
    border-right-width: 10px;
    border-left-width: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
}

.arrow-up::before {
    border-top-width: 0;
}

.arrow-down::before {
    border-bottom-width: 0;
}