@font-face {
  font-family: 'Pt Sans';
  src: url('../fonts/ptsans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pt Sans';
  src: url('../fonts/ptsansbold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprum.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumbold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumbolditalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumitalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-wrapper {
  background-color: #293449;
}

.button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 0;
  text-align: center;
  vertical-align: middle;
}

a.button:hover {
  background-color: #ca2c37;
}

a.button:active {
  background-color: #ba2732;
}

.main-header {
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #f4f7f9;
  color: #ffffff;
  min-height: 320px;
  margin-bottom: 58px;
}

.main-header a {
  color: #ffffff;
}

.top {
  background-color: #293449;
}

.logo {
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  width: 220px;
  display: block;
  vertical-align: top;
  padding-top: 10px;
  text-align: center;
}

.logo:hover {
  background-color: #ba2732;
}

.logo h1 {
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
  font-weight: lighter;
}

form.search {
  font-family: "Cuprum", "Arial", sans-serif;
  border: none;
  width: 240px;
  min-height: 42px;
  font-size: 17px;
  line-height: 18px;
  outline: none;
  display: block;
  position: relative;
}

.search input[type=search] {
  background-color: #293449;
  border: none;
  width: 240px;
  height: 42px;
  padding-left: 50px;

}
.search-icon {
  height: 17px;
  width: 17px;
  border: none;
  background-color: transparent;
  position: absolute;
  left: 17px;
  top: 12px;
  cursor: pointer;
}
form.search:focus{
  background-color: #ffffff;
}

.search-input:focus ~ label svg{
  fill: red;
  background-color: transparent;
}

input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}

input[type="search"]:-moz-placeholder {
  color: #ffffff;
}

input[type="search"]::-moz-placeholder {
  color: #ffffff;
}

input[type="search"]:-ms-input-placeholder {
  color: #ffffff;
}
.search input[type="search"]:hover{
  background-color: #212a3a;
}

.search input[type="search"]:focus{
  background-color: #ffffff;
  height: 42px;
  padding-left: 50px;
  color: #000000;
}

form.search input[type=submit] {
  display: none;
}

.first-header {
  display: flex;
  justify-content: space-between;
  min-height: 42px;
  margin-bottom: 46px;
}

.second-header {
  display: flex;
  justify-content: space-between;
  min-height: 108px;
}

.second-header div:last-of-type {
  text-align: right;
}

.second-header>p {
  width: 200px;
  color: #ee3643;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  margin: 0;
  padding: 4px 10px 0 52px;
  text-align: left;
}

.header-contacts {
  position: relative;
}

.header-contacts a {
  border: 5px solid #ffffff;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  padding: 10px 40px 10px 70px;
  vertical-align: top;
  display: block;
}

.header-contacts::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 16px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-contacts p {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

a.user-bookmark,
a.user-basket,
a.user-order {
  font-size: 17px;
  line-height: 18px;
  margin: 0;
  display: inline-block;
  width: 150px;
}

.user-orders-information .user-basket,
.user-orders-information .user-bookmark {
  vertical-align: top;
  text-align: center;
  padding: 13px 0 13px 0;
  position: relative;
}

.user-basket::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-bookmark::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-basket:hover::before,
.user-bookmark:hover::before {
  opacity: 1;
}

.user-order {
  background-color: #63a63e;
  vertical-align: top;
  text-align: center;
  padding: 13px 0 13px 0;
}

.user-bookmark:hover,
.user-basket:hover,
.user-order:hover {
  color: #f5f5f5;
}

.user-bookmark:hover,
.user-basket:hover {
  background-color: #212a3a;
}

.user-order:hover {
  background-color: #5fbb2d;
}

.user-bookmark:active,
.user-basket:active,
.user-order:active {
  color: #babbbd;
}

.user-bookmark:active,
.user-basket:active {
  background-color: #161d29;
}

.user-order:active {
  background-color: #518534;
}

.login-link,
.registration {
  background-color: #ffffff;
  display: inline-block;
  vertical-align: top;
  padding: 14px 25px;
  margin-left: 5px;
}

a.login-link,
a.registration {
  font-size: 21px;
  line-height: 21px;
}

.login-link {
  padding-right: 26px;
  padding-left: 47px;
  position: relative;
}

.login-link-svg {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 21px;
  height: 18px;
}

.login-link:hover .login-link-svg path {
  fill: #32425c;
}

.user-navigation a {
  color: #000000;
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:active {
  color: #ffffff;
}

section.product-category {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 50px;
  height: 410px;
}

.product-category-right {
  margin-left: 20px;
}

.product-category .bottom-category {
  color: #ffffff;
  border-radius: 2px;
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 135px;
  min-height: 38px;
}

.product-category .bottom-category:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.product-category .bottom-category:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.slider-perforator,
.slider-drill {
  margin: 0;
  padding: 0;
  width: 620px;
  min-height: 266px;
  background-repeat: no-repeat;
  position: absolute;
  display: none;
}


.slider-perforator {
  background-image: url("../img/slider1.jpg");
}

.slider-drill {
  background-image: url("../img/slider2.jpg");
}

.slider-perforator h1,
.slider-drill h1{
  margin: 0;
  padding-top: 21px;
  padding-left: 20px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.slider-perforator span,
.slider-drill span{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;

  padding-left: 20px;
}

.slider{
  margin: 0;
  padding: 0;
  width: 620px;
  min-height: 266px;
  position: relative;
}
.btn-slider{
  min-width: 200px;

  position: absolute;
  bottom: 20px;
  left: 25px;
  z-index: 300;
}
.slider-button-left,
.slider-button-right{
  background-color: transparent;
  border:none;
  fill: #ffffff;
  z-index: 100;
  position: absolute;
  cursor: pointer;
  width: 22px;
  height: 40px;
}

.slider-button-left{
  background-image: url("../img/icon-left.svg");
  top: 115px;
  left: 25px;

}
.slider-button-right {
  background-image: url("../img/icon-right.svg");
  top: 115px;
  right: 25px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 37px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls .label-slider {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 3px;

  border-radius: 50%;
  cursor: pointer;
}

.label-slider::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 10px;
  height: 10px;

  background: #ffffff;

  border-radius: 50%;
}

#slider-perforator:checked ~ .slider-controls .slider-controls-item-1::before,
#slider-drill:checked ~ .slider-controls .slider-controls-item-2::before{
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 400;

  width: 6px;
  height: 6px;
  margin: -2px;

  background-color: #ee3643;
  border-radius: 50%;
}

#slider-perforator:checked ~ .slider-perforator{
  display: block;
}

#slider-drill:checked ~ .slider-drill{
  display: block;
}









.flag {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.flag-new {
  background: url("../img/new flag.png") no-repeat 0 0;
}

.product-category h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 10px;
}

.button-category {
  font-family: "PT Sans", "Arial", sans-serif;
  margin-left: 24px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  display: inline-block;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 25px;
  min-width: 90px;
  text-align: center;
  vertical-align: top;
}

.button-category:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-category:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.product-category-technics,
.product-category-sales,
.product-category-delivery,
.product-category-tools,
.product-category-materials {
  width: 298px;
  min-height: 123px;
  margin-bottom: 20px;
}

.product-category-materials {
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: right 43px bottom 27px;
  position: relative;
  display: inline-block;
}

.product-category-tools {
  background-color: #3bbce3;
  margin-left: 20px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: right 43px bottom 27px;
  display: inline-block;
}

.product-category-technics {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: right 43px bottom 27px;
  display: inline-block;
}

.product-category-sales {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: right 43px bottom 27px;
  display: inline-block;
}

.product-category-delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: right 43px bottom 27px;
  display: inline-block;
}

.header-popular {
  margin-bottom: 20px;
  background-color: #f9f5f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-popular{
  min-width: 250px;
  margin-right: 27px;
}
.header-popular h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 40px;
  color: #32425c;
  text-transform: uppercase;
  padding-left: 20px;
}

ul.popular-perforator,
ul.list-popular-producers {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
ul.list-popular-producers{
  margin-bottom: 50px;
}

li.catalog-item {
  font-size: 16px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: black;
  background: white;
  position: relative;
  display: inline-block;
  width: 218px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}

.catalog-item img {
  width: 218px;
  height: 168px;
  max-width: 100%;
}

.catalog-item a.title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  min-height: 40px;
  padding: 0 27px;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}

div.old-price {
  color: #aaaaaa;
  text-decoration: line-through;
  font-size: 17px;
  line-height: 18px;
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

div.new-price {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  border-radius: 3px;
}

div.new-price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item:hover {
  box-shadow: 0 0 20px 0 #929090;
}

button.buy,
button.bookmark {
  font-family: "Cuprum", "Arial", sans-serif;
  height: 35px;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
}

button.buy {
  background-color: #63a63e;
  color: #ffffff;
  border: none;
  box-shadow: 0 3px 0 0 #518534;
}

button.buy:hover {
  background-color: #5fbb2d;
  color: #ffffff;
}

button.buy:active {
  background-color: #518534;
  color: #ffffff;
}

button.bookmark {
  background-color: #ffffff;
  color: #32425c;
  border: 2px solid #63a63e;
}

button.bookmark:hover {
  border: 2px solid #32425c;
}

button.bookmark:active {
  color: #c1c6ce;
  border: 2px solid #c1c6ce;
  outline: 0;
}

.list-popular-producers li {
  width: 220px;
  height: 142px;
  display: block;
  position: relative;
  margin-bottom: 20px;
}

.list-popular-producers li:hover {
   box-shadow: 0 0 20px 0 #929090;
}

.list-popular-producers li:active {
  box-shadow: 0 0 10px 0 #929090;
  opacity: 0.3;
}


.list-popular-producers img {
  max-width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.popular-products ul,
.popular-producers ul {
  list-style: none;
}

.information h3,
.contacts h3 {
  font-size: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.about-company a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.about-products {
  background-color: #f2f6f8;
  min-height: 261px;
}

.about-products p {
  font-size: 13px;
  line-height: 24px;
}

.about-products h3 {
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
}

.services-wrapping {
  background-color: #f4f8fa;
  font-size: 13px;
  line-height: 24px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.services{
  display: flex;
  justify-content: flex-start;
  min-height: 285px;
}
.services-right{
  margin-left: 80px;
  min-width: 621px;
  min-height: 285px;
  position: relative;
}
.services-left{
  margin:0;
  min-height: 285px;
}


.services h3,
.services-wrapping h3{
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
}
.delivery h3,
.guarantee h3,
.credit h3 {
  margin: 0;
  color: #32425c;
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.credit,
.guarantee,
.delivery{
  display: none;
}

#service-delivery:checked ~ .services-right .delivery,
#service-guarantee:checked ~ .services-right .guarantee,
#service-credit:checked ~ .services-right .credit{
  display: block;
  background-color: #f4f8fa;
}
#service-delivery:checked ~ .services-left label[for="service-delivery"],
#service-guarantee:checked ~ .services-left label[for="service-guarantee"],
#service-credit:checked ~ .services-left label[for="service-credit"]{
  background-color: #ffffff;
  color: #32425c;;
}

.credit,
.guarantee,
.delivery{
  min-height: 285px;
  min-width: 621px;
  background-repeat: no-repeat;
  background-position: right 0 top 26px;
  position: absolute;
}
.service{
  position: relative;
}
.service::after{
  content: '';
  background-image: url("../img/line.png");
  position: absolute;
  width: 10px;
  height: 272px;
  background-repeat: no-repeat;
  left: 230px;
  top: -25px;
  z-index: 100;
}
.delivery {
  background-image: url("../img/delivery.png");
}

.guarantee{
  background-image: url("../img/guarantee.png");
}

.credit{
  background-image: url("../img/credit.png");
}
.guarantee p,
.credit p,
.delivery p{
  width: 379px;
}

.delivery h3,
.guarantee h3,
.credit h3 {
  color: #32425c;
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", "Arial", sans-serif;
}
ul.service{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 240px;
  min-height: 180px;
}

.service li {
  display: block;
  width: 240px;
  min-height: 61px;
}

.service label {
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 30px;
  display: inline-block;
  min-width: 220px;
  vertical-align: top;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.service li {
  background-color: #32425c;
  color: #ffffff;
}

.service li:hover label{
  background-color: #293449;
  color: #ffffff;
}

.service li:active label{
  background-color: #ffffff;
  color: #32425c;
}

/*input[type="radio"]:checked ~ label {*/
  /*background-color: red;*/
/*}*/






.btn-guarantee{
  min-width: 195px;
}


.information-contacts{
  display: flex;
  justify-content: space-between;
}
.information{
  width: 540px;
}
.contacts{
width: 300px;
}

.btn-contacts{
 min-width: 300px;
}
ul.about-company{
  margin:0;
  padding: 0;
  padding-left: 36px;
  list-style-image: url("../img/li-line.png");
  margin-bottom: 18px;
}
.about-company li{
 padding-bottom: 16px;
}
.information h3,
.contacts h3 {
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 25px;
}
.btn-information{
  min-width: 220px;
}

.information p,
.contacts p {
  font-size: 13px;
  line-height: 24px;
  padding-bottom: 11px;
}
.contacts a img{
  margin-bottom: 42px;
}

/* Футер */

.main-footer {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #32425c;
  color: #ffffff;
  margin-top: 80px;
}

.main-footer a {
   color: #ffffff;
 }
.footer-top {
  font-size: 18px;
  line-height: 24px;
  background-color: #32425c;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 140px;
  margin-bottom: 55px;
}
.footer-logo{

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  width: 220px;
  height: 63px;
  margin-bottom: 30px;
}

.footer-logo h1{
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  display: block;
  font-weight: lighter;
  vertical-align: top;
  padding-top: 15px;
  text-align: center;
}


ul.footer-navigation-categories,
ul.footer-navigation-site {
  padding: 0;
  margin-bottom: auto;
}
ul.footer-navigation-categories {
  margin-top: 10px;
}

.footer-navigation-categories li,
.footer-navigation-site li {

  display: inline-block;
}

.footer-navigation-categories a,
.footer-navigation-site a {
  display: block;
  padding: 14px 55px;
  padding-right: 0;
  vertical-align: middle;
}

.footer-navigation-site a:hover,
.footer-navigation-categories a:hover {
  text-decoration: underline;
}

.footer-navigation-categories a {
  color: #ffd180;
}

ul.footer-navigation-site,
ul.footer-navigation-categories,
ul.social {
  list-style: none;
}
.footer-column-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.footer-column-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 610px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 107px;
}

.footer-bottom div {
  width: 300px;
}
.footer-bottom div:nth-child(2) {
  width: 150px;
}

.footer-bottom-wrapper {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}
.footer-bottom div:nth-last-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer-bottom div:nth-last-child(1) p{
  width: 140px;
}
.footer-bottom div:nth-last-child(1) p:nth-last-child(1){
  width: 110px;
}
p.footer-contacts{
  margin: 0;
  display: block;
}

ul.social {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

}

.social li{

  background-color: #212a3a;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
}
.social li:hover{
  background-color: #ee3643;
}
.social li:active{
  background-color: #ee3643;
}
.social a {
  color: #000000;
}

.feedback a {
  color: #ffd180;
}

.feedback a:hover {
  text-decoration: underline;
}

.feedback a:active {
  color: #ee3643;
  text-decoration: none;
}

.popup-write-us{
  display: block;
  width: 622px;
  height: 430px;
  border-top: 5px solid #ee3643;
  padding: 0 80px ;
  padding-top: 50px;
  box-shadow: 0 0 30px 5px #000000;
}

.gray-line {
  background-color: #f1f1f1;
  min-height: 112px;
  text-align: center;


}
.btn-write-us{
  width: 260px;
  height: 40px;
  margin: 40px 0;
}

.write-us label {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
}

.write-us input {
  width: 220px;
  height: 38px;
}

.write-us textarea {
  width: 460px;
  height: 114px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*страниц каталога*/


/*Хедер*/

.user-navigation-catalog {
  font-size: 21px;
  line-height: 21px;
}

.white-block {
  background-color: #ffffff;
  width: 299px;
  height: 45px;
}

.user-navigation-katalog a {
  color: #000000;
}

.user-navigation-katalog a:active {
  color: rgba(50, 66, 92, 0.3);
}

svg:hover #icon-user {
  fill: #32425c;
}

button.logout {
  border: none;
  background-color: #ffffff;
}

svg#icon-logout:hover {
  fill: #32425c;
}

a.my-orders,
a.account {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

a.my-orders:hover,
a.account:hover {
  color: #ee3643;
}

a.my-orders:active,
a.account:active {
  color: rgba(50, 66, 92, 0.3);
}


/*main*/

h1.page-title {
  background-color: #f2f6f8;
  min-height: 89px;
  color: #32425c;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.filters:first-of-type div {
  background-color: #f7f3ec;
  font-size: 13px;
  line-height: 18px;
  min-height: 38px;
  width: 220px;
  text-transform: uppercase;
}

.filter-main span {
  background-color: #f7f3ec;
  font-size: 17px;
  line-height: 18px;
}


/*
.filter-main label.filter-price{
	text-transform: uppercase;
}
*/

.breadcrumbs a {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
}

.filter-main fieldset {
  border: none;
  text-transform: uppercase;
}

.filter-main legend {
  font-weight: bold;
  text-transform: uppercase;
}

.breadcrumbs,
.filter-main ul,
ul.pagination-list {
  list-style: none;
  text-transform: uppercase;
}

ul.catalog-list {
  list-style: none;
}

.filters-button {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  border-radius: 1px;
  width: 140px;
  min-height: 38px;
}


/*filters горизонтальные*/

div.catalog-filter {
  background-color: #f7f3ec;
  text-transform: uppercase;
}

.catalog-filter a.sort {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: #ee3643 dotted 2px;
}

.catalog-filter a.sort:hover {
  color: rgba(0, 0, 0, 1);
  border-bottom: #ee3643 solid 2px;
}

.catalog-filter a.sort:active {
  color: #ee3643;
  border-bottom: none;
}


/*кноппки вверх/вниз*/

a.arrow {
  display: inline-block;
  margin: 0 10px;
  font-size: 0;
}

.arrow::before {
  content: "";
  display: inline-block;
  border: 20px solid rgba(0, 0, 0, 0.3);
  border-right-width: 10px;
  border-left-width: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.arrow-up::before {
  border-top-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}

a.arrow-up:hover::before {
  content: "";
  display: inline-block;
  border: 20px solid rgba(0, 0, 0, 1);
  border-right-width: 10px;
  border-left-width: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-width: 0;
}

a.arrow-up:active::before {
  content: "";
  display: inline-block;
  border: 20px solid #ee3643;
  border-right-width: 10px;
  border-left-width: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-width: 0;
}

a.arrow-down:hover::before {
  content: "";
  display: inline-block;
  border: 20px solid rgba(0, 0, 0, 1);
  border-right-width: 10px;
  border-left-width: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-width: 0;
}

a.arrow-down:active::before {
  content: "";
  display: inline-block;
  border: 20px solid #ee3643;
  border-right-width: 10px;
  border-left-width: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-width: 0;
}


/*активная страница*/

li.pagination-item {
  display: inline-block;
  min-height: 38px;
  min-width: 38px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  font-size: 13px;
  line-height: 18px;
}

.pagination-item a {
  color: #000000;
}


/*не получилось*/

.pagination-item a:hover {
  border: 1px solid #bdc6ca;
  border-radius: 2px;
}

.pagination-item a:hover {
  display: block;
  border-color: #ee3643;
}

li.pagination-item-current {
  background-color: #ee3643;
}


/*корзина*/

.basket {
  background-color: #ffffff;
  min-width: 620px;
  min-height: 282px;
}

.basket span {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
}



.basket-button {
  background-color: #ffffff;
  color: #000000;
}

div,
section,
a,
ul,
li,
p,
footer,
header {
  outline: 1px solid red;
}


/*разметка*/

ul.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  background-color: #32425c;
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  box-shadow: 0 5px 0 0 #293449;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-navigation li:hover {
  background-color: #293449;
}

.site-navigation li:active {
  background-color: #1d2739;
}

.site-navigation-active {
  display: block;
  vertical-align: top;
  padding: 20px 32px;
}

.site-navigation a {
  display: block;
  vertical-align: top;
  padding: 20px 32px;
}

.site-navigation a:active {
  color: #a8abaf;
}

.product-category {
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
}



